{{ define "main" }}

{{ partial "hero.html" . }}

<section class="wide light-gray">

	{{/* {{ partial "hero-circles.html" . }} */}}
	
	<section class="intro">
		<h1 class="sub-circles">{{ .Params.page_title }}</h1>
		<p style="padding-bottom: 2.5em;">{{ markdownify .Params.intro_text }}</p>
		</section>
</section>
<section style="padding-top: 0" class="wide second">
	{{ with .Params.blue_button }}
	<button style="cursor: pointer;" id="sca-download">
		<div class="circle download small">
			<p>{{ .dark_text }}</p>
			<img class="arrow-small" src="/img/arrow-white.svg">
		</div>
	</button>
	{{ end }}
	<h1 class="orange-text">{{ .Params.action_text }}</h1>
	{{ if .Params.numbered_features }}
	{{ $counter := 0 }}
	{{ $mod := 0 }}
	{{ range .Params.numbered_features }}
	{{ $counter = add $counter 1 }}
	<div style="margin-top: 0" id="sca0{{ $counter }}" class="sca-feature-section">
		{{$mod = mod $counter 2}}
		{{if eq 0 $mod }}
		<div class="wide wide-right">
			<h1 class="title">{{ .title }}</h1>
			<p>{{ markdownify .text }}</p>
		</div>

		<img class="sca-image right" src="{{ .image }}" alt="">


		{{else}}
		<img class="sca-image left" src="{{ .image }}" alt="">
		<div class="wide wide-left">
			<h1 class="title">{{ .title }}</h1>
			<p>{{ markdownify .text }}</p>
		</div>
		{{end}}
		</div>
		{{ end }}
	{{ end }}

	{{/* {{ partial "two-round-buttons.html" . }} */}}

</section>
{{ end }}